@use "@/styles/mixins" as *;

.grid {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;

  @include respond(tablet) {
    grid-template-columns: 100%;
  }
  @include respond(mobile) {
    grid-template-columns: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.poster {
  background: var(--primary);

  @include respond(tablet) {
    display: none;
  }
  @include respond(mobile) {
    display: none;
  }
}
