.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text);
}

.input {
    height: 50px;
    border: solid 1px var(--border);
    border-radius: 13px;

    background: var(--background);

    outline: none;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--text);

    padding-left: 20px;

    &::placeholder {
        color: var(--border);
    }
}
