.title {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 32px;
    color: var(--text);
    text-align: left;
    margin-bottom: 20px;
}

.information {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-light);
    margin-bottom: 40px;
}
.form_flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.requierement {
    &__flex {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: 5px;
    }
    &__text {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: var(--text-light);
    }
}
