.grid {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.poster {
  background: var(--primary);
}
