.logo {
  margin-bottom: 20px;
}

.title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 32px;
  color: var(--text);
  margin-bottom: 20px;
  text-align: center;
}

.motivation {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-light);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flexSocial {
  display: flex;
  gap: 15px;
  width: 100%;
}

.hr {
  height: 1px;
  width: 100%;
  border-top: var(--border);
}

.or_flex {
  display: flex;
  gap: 20px;
  align-items: center;
}
.or_text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-light);
}
